.formularioCajaI {
  @include formulario
}
  
  .botonIniciarSesion {
    background-color: black;
  
    &:hover {
      background-color: rgb(26, 25, 25);
    }
  }
  
  .enlace:hover {
    color: gray;
  }
  
  .imagen {
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.03);
    }
  }
  
  .lema {
    font-size: 50px;
    margin-top: 20%;
  }